/* style sheets */
@import url('components/index.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #004498;
  background-repeat: no-repeat;
  background-image: url(../assets/images/background/map-notext.gif);
  background-size: cover;
  background-position-y: 155%;
}

:root {
  --font-h: 'Press Start 2P', cursive;
  --font-p: 'Press Start 2P', cursive;
  --font-color: #FFD21D;
}

@media (min-width: 1920px) {
  body {
    padding: 2% 15%;
    background-position-y: 99%;
  }
}