/* style sheets */
@import url('components/index.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* defaults */
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../assets/images/background/map-notext.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -20%;
  background-position-x: 50%;
  background-color: #004498;
}

:root {
  --font-h: 'Press Start 2P', cursive;
  --font-p: 'Press Start 2P', cursive;
  --font-color: #FFD21D;
}