.card-character {
  height: 120px;
  width: auto;
  background-color: #A898FF;
}
.card-character img {
  width: 100%;
  height: 100%;
}
.card-character img:hover{
  background-color: red;
}
.card-top-left-char {
  border: solid white 2px;
}
.card-top-char {
  border-top: solid white 2px;
  border-right: solid white 2px;
  border-bottom: solid white 2px;
}
.card-bottom-left-char {
  border-left: solid white 2px;
  border-right: solid white 2px;
  border-bottom: solid white 2px;
}
.card-bottom-char {
  border-right: solid white 2px;
  border-bottom: solid white 2px;
}
