.top-display {
  display: flex;
  justify-content: space-between;
  /* margin: 1% 5% -6% 5%; */
  margin: 1% 5% 10%;
}

.char-details-container {
  flex-direction: column;
}
.char-details-container h2 {
  margin-bottom: 3%;
}

.img-char {
  display: flex;
  background-color: white;
  border: var(--font-color) solid 4px;
  margin: auto;
}  
.img-flip{
  transform: scaleX(-1);
}  

.char-name {
  font-size: 2rem;
  padding-top: 3%;
}

.flag {
  width: 25%;
}

.insert-coin-wrapper {
  align-self: center;
  justify-content: center;
  color: red;
}
.insert-coin-wrapper p{
  color: red;
}

.insert-coin {
  font-size: 3rem;
}

.touch-screen {
  font-size: 2rem;
}

@media (min-width: 1920px) {
  .top-display {
    margin: 4% 9% 10% 9%;
  }
}