.char-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4% 9% 0 9%;
}

.char-details-container {
  display: flex;
  flex-direction: column;
}

.img-char {
  width: 50%;
  display: flex;
  background-color: white;
  border: var(--font-color) solid 4px;
  margin-top: 2%;
  margin: auto;
}  
.img-flip{
  transform: scaleX(-1);
}  

.char-name {
  font-size: 2rem;
  padding-top: 3%;
}

.center-elements {
  text-align: center;
}

.flag {
  width: 25%;
}

@media (min-width: 1920px) {
  .img-char {
    width: 77%;
  }
}