.char-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.char-details-container {
  display: flex;
  flex-direction: column;
}

.img-char {
  width: 80%;
  display: flex;
}  
.img-flip{
  transform: scaleX(-1);
  float: right;
}  

.char-name {
  font-size: 2rem;
  padding-top: 3%;
}

.center-elements {
  text-align: center;
}

.flag {
  width: 25%;
}