.container {
  text-align: center;
}

.header { 

}

.char-portraits { 
  display: flex;
  justify-content: space-between;
}

.character-select {
}

.row {
  display: flex;
  justify-content: center;
}
