h1, h2, h3, h4 {
  font-family: var(--font-h);
  color: var(--font-color);
}

p {
  font-family: var(--font-p);
  color: var(--font-color);
}

.font-center {
  text-align: center;
}

.icon-style {
  color: red;
  margin-bottom: .75%;
}