h1, h2, h3, h4 {
  font-family: var(--font-h);
  color: var(--font-color);
}

p {
  font-family: var(--font-p);
  color: var(--font-color);
}

.font-cpu {
  color: red;
  text-align: center;
  padding: 1%;
  display: none;
}

.font-center{
  text-align: center;
}