.img-char {
  width: 80%;
}
.img-flip{
  transform: scaleX(-1);
  float: right;
}

.player-one-frame{
  background-color: blue;
  border: solid blue 4px;
  z-index: 1;
}

.cpu-frame{
  background-color: blue;
  border: solid blue 4px;
  z-index: 1;
}