.row {
  display: flex;
  justify-content: center;
}

.player-select{
  padding-bottom: .5%;
}

.card-character {
  height: 140px;
  width: auto;
  background-color: #A898FF;
}
.card-character img {
  width: 100%;
  height: 100%;
}
.card-character img:hover{
  background-color: red;
}

.card-top-left-char {
  border: solid white 2px;
}

.card-top-char {
  border: solid white 2px;
  /* border-left: 0; */
}

.card-bottom-left-char {
  border: solid white 2px;
  /* border-top: 0; */
}

.card-bottom-char {
  border: solid white 2px;
  /* border-top: 0;
  border-left: 0; */
}